In [3]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib
import pandas as pd

In [42]:
# Connect to Website and pull in data

URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

price = soup2.find(class_='a-price-whole').get_text().replace(".", "").strip()+"."+soup2.find(class_ = "a-price-fraction").get_text().strip()


print(title)
print(price)

                    Got Data Funny Business Data Analyst T-Shirt


15.99

In [44]:
price = price.strip()
title = title.strip()

print(price)
print(title)

15.99
Got Data Funny Business Data Analyst T-Shirt

In [46]:
today = datetime.date.today()
print(today)

2025-01-06

In [48]:
import csv

header = ['Title', 'Price', 'Date']
data = [title, price, today]

with open(r'C:\Users\lambu\Documents\Data Analytics Stuff\Python\Webscraping\Output Folder\AmazonWebDataSet.csv', 'w', newline='', encoding = 'UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [50]:
df = pd.read_csv(r'C:\Users\lambu\Documents\Data Analytics Stuff\Python\Webscraping\Output Folder\AmazonWebDataSet.csv')
df

                                          Title  Price        Date
0  Got Data Funny Business Data Analyst T-Shirt  15.99  2025-01-06

In [52]:
#Appending data to the csv

with open(r'C:\Users\lambu\Documents\Data Analytics Stuff\Python\Webscraping\Output Folder\AmazonWebDataSet.csv', 'a+', newline='', encoding = 'UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [7]:
def check_price():
    URL = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
    
    page = requests.get(URL, headers=headers)
    
    soup1 = BeautifulSoup(page.content, "html.parser")
    
    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
    
    title = soup2.find(id='productTitle').get_text()
    
    price = soup2.find(class_='a-price-whole').get_text().replace(".", "").strip()+"."+soup2.find(class_ = "a-price-fraction").get_text().strip()
    
    price = price.strip()
    title = title.strip()

    import datetime

    today = datetime.date.today()
    
    import csv 

    header = ['Title', 'Price', 'Date']
    data = [title, price, today]

    with open(r'C:\Users\lambu\Documents\Data Analytics Stuff\Python\Webscraping\Output Folder\AmazonWebScraperDataset.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

    if (price < 15): 
        send_mail()

In [ ]:
while(True):
    check_price()
    time.sleep(86400) #86400

In [5]:
df = pd.read_csv(r'C:\Users\lambu\Documents\Data Analytics Stuff\Python\Webscraping\Output Folder\AmazonWebScraperDataset.csv')
df

   Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-27
0  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-27
1  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-27
2  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-27
3  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-27
4  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-27
5  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-27
6  Got Data Funny Business Data Analyst T-Shirt  15.99  2024-12-27

In [ ]:
def send_mail():
    server = smtplib.SMTP_SSL('smtp.gmail.com',465)
    server.ehlo()
    #server.starttls()
    server.ehlo()
    server.login('LamBui@gmail.com','xxxxxxxxxxxxxx')
    
    subject = "The Shirt you want is below $15! Now is your chance to buy!"
    body = "Lam, This is the moment we have been waiting for. Now is your chance to pick up the shirt of your dreams. Don't mess it up! Link here: https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data+analyst+tshirt&qid=1626655184&sr=8-3"
   
    msg = f"Subject: {subject}\n\n{body}"
    
    server.sendmail(
        'LamBui@gmail.com',
        msg
     
    )